.wrapper-links-forgot-password {
    text-align: center;
}

.wrapper-links-forgot-password p {
    color: #2c305d;
}

.wrapper-links-forgot-password a:last-child {
    float: none;
    font-weight: 600;
    text-decoration: underline;
}